<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>

    <div class="list-group list-reset">
      <a *ngFor="let item of historial"
      (click)="buscar(item)"
      href="#"
      class="list-group-item list-group-item-action">
      {{item |titlecase}}</a>
      <!--otra utilidad de los pipes: el titlecase pone la primera letra de
      cada palabra en mayuscula
    
      En general, los pipes cambian lo visual de un valor sin modificarlo-->
    </div>
  </div>
